<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<groups>
<run>
<include name="one">
</include>
</run>
</groups>
  <test thread-count="5" name="Test">
    <classes>
      <class name="mavn.c1"/>
      <class name="mavn.c2"/>
       <class name="pack1.c3"/>
       <class name="pack1.c4"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
